:root{
	--brandcolor: #36b3a7;
}

body {
	width: 100%;
	height: 100vh;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	background: transparent;
	overflow-x: hidden; 
}

 #services .server .vices{
	text-align: center;
	padding: 20px;

}

#services .server .vices p {
	color: var(--brandcolor);
	letter-spacing: 0.2rem;
	font-size: 1rem;
}

#services .server .vices h2 {
	font-size: 2.5rem;
}

#services .gidder .fontes {
	position: relative;
	height: 100%;
	width: 90%;
	margin: auto;
	padding: 40px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(100px auto);
	grid-gap: 20px;
	box-sizing: border-box;
}

#services .gidder .fontes .tok:hover .overlay {
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	padding-top: 15px;
	color: #fff;
	transition: all 0.2s ease-in;
}

#services .gidder .fontes .tok:hover .overlay i {
position: relative;
top: 10px;
font-size: 2rem;
color: #fff;
display: block;
margin-top: 50px;
margin-left: 25px;
}

#services .gidder .fontes .tok:hover .overlay h5 {
	font-size: 1.4rem;
	font-weight: 700;
	margin-left: 25px;
}


#services .gidder .fontes .tok {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;

}

#services .tok {
	background: #797979;
	position: relative;
}

#services img { 
	position: absolute;
	height: 100%;
	width: 100%;

}

#services img {
	background: linear-gradient(rgba (0, 0, 0 0.5), rgba(0, 0, 0, 0.5));
}

.interest {
	text-align: center;
	padding: 50px;
	margin: auto 50px;
}

.interest p {
	color: black;
	font-size: 1.2rem;
}

.confy {
	text-decoration: none;
	display: block;
	width: 100px;
	margin: 0 auto;
	background: black;
	color: #fff;
	padding: 10px 15px;
	border-radius: 20px;
	transition: 0.3s;
	margin-top: 20px;
}

.confy:hover {
	background: rgba(100, 100, 100, 0.9);
	border: none;
	border-radius: 20px;
}

@media(max-width: 600px) {

	#services .gidder .fontes {
	position: relative;
	height: 100%;
	width: 90%;
	margin: auto;
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: minmax(100px auto);
	grid-gap: 20px;
	box-sizing: border-box;
}

#portfolio .gidder .fontes .tok {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;

}

#portfolio .tok {
	background: #797979;
	position: relative;
}

#portfolio img { 
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;

}

#portfolio img {
	background: linear-gradient(rgba (0, 0, 0 0.5), rgba(0, 0, 0, 0.5));
}

/*#portfolio .tok-1{
	grid-column: 1/2;
	grid-row: 1/4;
	}
}
*/